{% extends 'base.html' %}
{% load static %}
    {% block title %} {{ slide.header }} {% endblock %}
{% block content %}
    <div class="container">
        <div class="graph-container">
            {% if image_path %}
                <img src="{{ image_path }}" alt="Graph Image">
            {% endif %}
        </div>
    <div class="form-container">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="button-3" role="button">Submit</button>
    </form>
    </div>
</div>
{% endblock %}
