{% extends "base.html" %}
{% load static %}

{% block title %}PolyWebdemos{% endblock title %}

{% block content %}
    <section class="intro">
        <h2>О PolyWebdemos</h2>
        <p>Это демонстрационная площадка для проекта в СПБПУ.</p>
    </section>

    {% for section, courses in sections.items %}
        <section class="section">
            <div class="section-card" onclick="toggleCourses('{{ section.id }}')">
                <h1>{{ section.name }}</h1>
            </div>
            <div id="courses-{{ section.id }}" class="hidden courses">
                {% for course, presentations in courses.items %}
                    <div class="course" data-course-id="{{ section.id }}-{{ course.id }}">
                        <h4><a href="{% url 'course_detail' course.id %}">Курс "{{ course.full_name }}"</a></h4>
                        <div class="section-lines" id="section-lines-{{ section.name }}1">
                            <div class="line"></div>
                            <div class="line"></div>
                            <div class="line"></div>
                        </div>
                    </div>
                    <div id="presentations-{{ section.id }}-{{ course.id }}" class="hidden presentations">
                        {% for presentation in presentations %}
                            <div class="presentation">
                                <a href="{% url 'presentation_detail' presentation.id %}">
                                    {{ presentation.number }}. {{ presentation.name }}
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </section>
    {% endfor %}
{% endblock content %}

{% block extra_js %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const sectionLines = document.querySelectorAll('.section-lines');
            sectionLines.forEach(function (lines) {
                lines.addEventListener('click', function () {
                    const course = lines.closest('.course');
                    if (course) {
                        const courseId = course.dataset.courseId;
                        togglePresentations(courseId);
                    }
                });
            });
        });

        function toggleCourses(sectionId) {
            const courses = document.getElementById(`courses-${sectionId}`);
            courses.classList.toggle('hidden');
        }

        function togglePresentations(courseId) {
            const presentations = document.getElementById(`presentations-${courseId}`);
            presentations.classList.toggle('hidden');
        }
    </script>
{% endblock extra_js %}
