{% extends 'base.html' %}
{% load static %}

{% block title %}{{ lecturer.person.name }}{% endblock title %}

{% block content %}
    <div class="container">
        <div class="wrapper">
            <div style="max-width: 300px;margin: 0 auto;">
                <img src="{{ lecturer.photo.url }}" alt="Фото профиля"
                     style="width: 100%; height: auto; display: block; object-fit: cover; object-position: center; margin-top: 40px;">
            </div>
            <div style="width: 400px; text-align: center; margin-top: 40px; background-color: white; padding: 20px; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
                <p>{{ lecturer.degree }}</p>
                <strong>{{ lecturer.person.name }}</strong>
                <p>{{ lecturer.position }}</p>
                <p>Телефон: <a href="tel:{{ lecturer.phone }}">{{ lecturer.phone }}</a></p>
                <p>Email: <a href="mailto:{{ lecturer.person.email }}">{{ lecturer.person.email }}</a></p>
            </div>
        </div>
    </div>
<div class="wrapper">
    <h2 style="text-align: center;">Биография</h2>
    <p style="white-space: pre-wrap; text-align: left; line-height: 1.6;">{{ lecturer.bio }}</p>
</div>


{% endblock content %}
