{% extends 'base.html' %}
{% load static %}

{% block title %}Список лекторов{% endblock title %}

{% block content %}
    <div class="search-results-container">
        <ul class="presentation-list">
            {% for obj in lecturer_objects %}
                <li>
                    <a href="{% url 'lecturer_detail' obj.id %}" class="presentation-item">
                        <div class="presentation-content">
                            {{ obj.person.name }}
                        </div>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock content %}