{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Slides for {{ presentation.name }}</title>
</head>
<body>
    <h1>Slides for {{ presentation.name }}</h1>
    <ul>
        {% for slide in slides %}
            <li>
                <h4>Slide {{ slide.number }}: {{ slide.header }}</h4>
                <p>{{ slide.content }}</p>
            </li>
        {% endfor %}
    </ul>
    <ul>
        {% for demonstration in demonstrations %}
            <li>
{#                <a href="{% url 'presentation_detail' obj.id %}">{{ obj.name }}</a>#}
              <a href="{% url 'demo_dispatcher' presentation.id forloop.counter %}">{{ demonstration.name }}</a>  
                <p>{{ slide.content }}</p>
                {{ demonstration.name }} 
            
            </li>
        {% endfor %}
        {{ presentation.id }}
    </ul>
</body>
</html>