{% extends 'base.html' %}
{% load static %}

{% block title %}{{ presentation.name }}{% endblock %}

{% block content %}
    <div class="presentation-container">
        <div class="presentation-description">
            <h2>{{ presentation.name }}</h2>
            <p>{{ presentation.description }}</p>
            <div class="navigation">
                <a href="{% url 'slide_detail' presentation.id 1 %}" class="btn">Перейти к слайдам</a>
            </div>
        </div>
    </div>
{% endblock content %}
