{% extends 'base.html' %}
{% load static %}


{% block title %} Presentation {% endblock %}

{% block content %}
    
<body>
    <div class="search-results-container">
        <h3>
            <ul class="presentation-list">
                {% for obj in presentation_objects %}
    
                        <li>
                            <a href="{% url 'presentation_detail' obj.id %}" class="presentation-item">
                                <div class="presentation-content">
                                    {{ obj.name }}
                                </div>
                            </a>
                        </li>
                    
                {% endfor %}
            </ul>
        </h3>
    </div>
</body>
{% endblock %}