{% extends 'base.html' %}
{% load static %}

{% block title %}{{ presentation.name }}{% endblock %}

{% block content %}
    <div class="presentation-container">
        <div class="presentation-description">
            <h2>{{ presentation.name }}</h2>
            <p>{{ presentation.description }}</p>
            <div class="navigation">
                <a href="{% url 'slide_detail' presentation.id 1 %}" class="btn">Перейти к слайдам</a>
            </div>
        <div class="navigation">
            {% if demonstrations %}
                <h2> Демонстрации </h2>
                    {% for demonstration in demonstrations %}
                        <a href="{% url 'demo_dispatcher' presentation.id forloop.counter %}" class="btn">{{ demonstration.name }}</a>  
                    {% endfor %}
            {% endif %} 
        </div>
        </div>
    </div>
{% endblock content %}
